<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Query Recorded from, <%= @email %></h3>
    <p>Topic: 
      <%= @topic %>.<br>
    </p>
    <p>Messagg: 
      <%= @message %>.
    </p>
  </body>
</html>