<% content_for :user_header_title do %>
  GAMING POINTS
<% end %>
<%= render 'users/user_header' %>

<div class="row">
  <div class="col-lg-3">
    <%= render 'player_play_panel' %>
  </div>

<div class="col-lg-9" id="gaming_points">
  <div class="top-text">Points are rewarded for your engagement in the website.</div>
  <div class="row">
    <div class="points-sections">
      <div class="sections-title">LISTEN POINTS</div>
      <p class="sections-desc">
        Rate a Track or Release
        <br>
        Listen to 80% of Track
        <br>
        Favourite a Track
        <br>
        Create a playlist
        <br>
        When your playlist is favourited
        <br>
      </p>
    </div>

    <div class="points-sections">
      <div class="sections-title">CONNECT POINTS</div>
      <p class="sections-desc">
        Share a playlist on Twitter / Facebook
        <br>
        Share a release on Twitter / Facebook
        <br>
        Share a chirp topic on Twitter / Facebook
        <br>
        Share a announcement on Twitter / Facebook
        <br>
        Participate in AMAs, Chirp & Announcement feeds
        <br>
        Follow a artist
        <br>
        Make a friend
        <br>
      </p>
    </div>

    <div class="points-sections">
      <div class="sections-title">PLAY POINTS</div>
      <p class="sections-desc">
        Join play points
        <br>
        For yearly participation
        <br>
        Invite only games
        <br>
        In real life activities
        <br>
      </p>
    </div>

  </div>
</div>