<div class="user-controls sticky-top user-controls-without-header">
  <div class="row">
    <div class="col-lg-3 px-0 c-btn-group two-btns">
    </div>
    <div class="col-lg-9 px-0">
      <div class="user-header-title"><%= content_for :user_header_title %></div>
    </div>
  </div>

</div>
