<div class="support-message-main-container">
  <div class="top-text">
    BIRDFEED SUPPORT
  </div>
  <div class="main-support-container">
  	<div class="top-box">      
  		<a class="navbar-brand">
        <%= image_tag 'birdfeedwhite.png' %>
      </a>
  	</div>

  	<div class="middle-1">
      <%= show_svg('icons/red-bird.svg') %>
			<span>
				THANK YOU
			</span>
    </div>

  	<div class="middle-2">
  		WE WILL BE IN TOUCH SOON
    </div>

  	<div class="bottom-box">      
      <span>RESPONSE TIME = 24 HOURS</span>
  	</div>
  </div>
  <div class="bottom-btn">
  	<%= link_to 'TAKE ME HOME', root_path, class: 'c-btn-red' %>
  </div>
</div>