<div class="container pt-4 forgot-password-page">
  <div class="modal-content forgot-password-page-pane">
    <div class="forgot-password-page-body">
      <h3>
				Recover Password
      </h3>
  		<p style="font-size: 24px;font-weight: 900">Link Sent</p>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<p class="textemail"><span> Please check your email for the link to reset your password.</span>
						<br><br>
						<span>For security reasons the link can only be used for one hour.If you do not receive your email within five minutes check your spam folder or <a href="/usr/password/new" class="try-again"><u>try again</u></a>.</span>
					</p>
				</div>
			</div>
			<br>
    </div>
  </div>
</div>