.about-main-container {
  margin: -24px -15px 0px -16px;
  position: relative;

  .background-1 {
    background-image: asset-data-url("about/background_1.png");
    width: 100%;
    height: 820px;
    position: absolute;
    z-index: 0;
  }

  .background-2 {
    background-image: asset-data-url("about/container_blue_bg.png");
    transform: rotate(180deg);
    top: 890px;
    width: 100%;
    height: 1293px;
    position: absolute;
    z-index: 0;
  }

  .background-3 {
    background-image: asset-data-url("about/container_red_bg.png");
    top: 1530px;
    width: 100%;
    height: 739px;
    position: absolute;
    z-index: 0;
  }

  .divider {
    width: 100%;
    height: 0;
    border: 10px solid #faae03;
  }

  .second-container {
    width: 100%;
    padding-top: 1.5rem;

    .listen-btn-top {
      text-align: center;
      width: 100%;
      height: 38px;
      background-color: #3ed4e0;
      font-family: 'Phosphate-Solid';
      font-size: 14px;
      letter-spacing: 0.63px;
      color: white;
      padding-top: 9.5px;
    }

    .second-container-heading {
      text-align: left;
      text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      color: #464646;
      font-family: 'Phosphate-Solid';
      font-size: 60px;
      letter-spacing: 4.2px;
      text-transform: uppercase;
      margin-left: 15px;
    }

    .left-arrow {
      margin-top: auto;
      margin-bottom: auto;
    }

    .second-container-subheading {
      width: 100%;
      margin-left: 15px;
      margin-top: -10px;
      text-align: left;
      color: #464646;
      font-family: 'Phosphate-Solid';
      font-size: 30px;
      letter-spacing: 2.1px;
    }

    .music-bars-cloud {
      text-align: center;
    }

    .music-bars-cloud-heading {
      width: 100%;
      height: 36px;
      color: #4b4949;
      font-family: 'Phosphate-Solid';
      font-size: 30px;
      line-height: 26px;
      text-align: center;
    }

    .music-bars-cloud-description {
      width: 100%;
      height: 114px;
      color: #4b4949;
      font-family: "Titillium Web";
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      text-align: center;
    }

    .listen-btn {
      background-color: #ff7979 !important;
    }
  }
}
.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.top-row-btn-group {
  margin: auto;
  margin-top: 35px;
}
.second-container-row {
  padding-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sencond-container-items {
  text-align: center;
}
