.announcement-bar-img {
  margin: 11px 30px 0px 27%;
  width: fit-content !important;
  height: fit-content !important;
}

.announcement-stats {
  height: 70px;
  padding-top: 10px;
}

.yellow-grad {
  background-image: linear-gradient(to bottom right, #e49f02, #ffe894);
}

.like-heart {
  text-align: center;
  margin-top: 8px;
  margin-right: 10px;
}