.forgot-password-page {
  width: calc(100% + 30px);
  margin: -24px -15px;
  padding: 40px;
  background: asset-data-url('bird-bgrd.jpg') no-repeat center bottom;
}

.forgot-password-page-pane {
  border-radius: 8px;
  background-color: white;
}

.forgot-password-page-body {
  margin: 40px 30px;
  border-left: 10px solid #3ed4e0;
  border-right: 10px solid #3ed4e0;
  border-bottom: 10px solid #3ed4e0;
  padding: 10px;
  position: relative;
  z-index: 1;

  @media (min-width: 992px) {
    padding: 40px;
    margin: 7vh;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 350px);
    height: 10px;
    background-color: #3ed4e0;
  }

  &:after {
    content: '';
    position: absolute;
    top: -6px;
    left: calc(350px - 41px);
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 21px solid transparent;
    border-right: 21px solid #3ed4e0;
    height: 22px;
    width: 42px;
  }

  h3 {
    color: #ff7979;
    font-family: 'Phosphate-Inline';
    font-size: 45px;
    position: relative;
    top: -30px;
    margin-bottom: -30px;

    @media (min-width: 992px) {
      font-size: 26px;
      top: -52px;
    }
  }

  .textemail {
    font-size: 19px;
    letter-spacing: 0.5px;
    font-weight: 400;
  }

  .txtnote {
    font-size: 21px;
    font-weight: 900;
    color: red;
  }

  .labelemail{
    font-size: 18px;
    font-weight: 500;
    color: black;
    letter-spacing: 0.6px;
  }

  .txtRegister {
    font-size: 18px;
    font-weight: 500;
    color: red;
    letter-spacing: 0.6px;
  }

  .emaillfield {
    background: red;
    color: #fff;
    padding: 9px;
    border: none;
    font-size: 19px;
    font-weight: 900;
    letter-spacing: 0.9px;
  }

  .btnreset {
    font-size: 16px;
    font-weight: 700;
    padding: 7px 58px;
    letter-spacing: 0.8px;
    border-radius: 7px;
    border-color: white;
    background: #fb7e75 !important;
  }

  .text-links {
    color: #827f7f;
    font-size: 18px;
    letter-spacing: 1px;
  }
  input{
    background-color: #e2e2e2;
  }
}