<%= form_for current_user.playlists.build,
    html: { class: "w-100 px-4 pb-4" } do |f| %>
  <div class="d-flex">
    <%= f.label :name, class: 'sr-only' %>
    <%= f.text_field :name, class: 'form-control' %>
    <%= f.submit "Create", class: 'btn c-btn-red btn-square' %>
  </div>
<% end %>