<nav class="navbar navbar-expand-lg fixed-top" style="top: 0px !important;">
  <div class="container">
    <a class="navbar-brand" href="/">
      <%= image_tag 'birdfeed-logo-white.png' %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


      <span class="navbar-text" style="margin-right: 860px; color: white;">
        THE <b>DIRTYBIRD</b> PLAYGROUND
      </span>

      <div class="onboarding"></div>
  </div>
</nav>